body {
  text-align: center;
}
.classcomp{border:1px solid gray; width: 50%; margin: auto}
.funcomp{border:1px solid green; width: 50%; margin:0px auto}
.my_profile{border:1px solid green; width: 50%; margin:0px auto; padding: 20px}